/* CSS declarations go here */
#sample-grid {
  background: yellow;
}

circle.sample-point {
  stroke: black;
}

circle.not-sampled {
  fill: red;
}

circle.await-sampling {
  fill: orange;
}

circle.sampled {
  fill: green;
}

.tracking-state {
  /*font-size: 11pt;
  font-weight: bold;*/
}

.tracking-state-unknown {

}

.tracking-state-not-tracked {
  color: red;
}

.tracking-state-tracked {
  color: green;
}

.tracking-state-occluded {
  color: blue;
}
