#deviceIndicatorWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255,0,0, 0.05);
  border: 1px solid rgba(255,0,0,0.5);*/
}

.deviceIndicator {
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

#search-query-wrapper {
  /*display: inline-block; */
  border: 1px solid #357ebd; 
  padding: 6px; 
  width: 100%;
  position: relative;
}

#search-query-wrapper:before {
  content: "\200B";
}

/*#search-query {
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
}

#search-query:focus {
    outline-width: 0;
}*/

#search-query {
  width: 100%;
  padding: 6px;
  border: 1px solid #357ebd; 
}

#search-tag-wrapper {
  /*position: absolute;*/
  z-index: 10;
}

.search-tag {
  border-radius: 4px;
  border: 1px solid #357ebd;
  background-color: #428bca;
  color: white;
  padding: 4px;
  /*float: left;*/
  z-index: 10;
  margin-right: 3px;
  /*word-spacing: 11px;*/
}

.result-info {
  margin-top: 10px;
  color: gray;
  font-size: 0.9em;
}

.document-result {
  margin-top: 20px;
  margin-bottom: 20px;
}

.document-highlight {
  /*border: 1px solid black;*/
  margin: 5px;
  font-size: 0.9em;
}

.document-highlight em,
#textContent em {
  /*background-color: yellow;*/
  /*color: black;*/
  font-style: normal;
  font-weight: bold;
}

/*.textSelection {
  background-color: rgba(255, 127, 0, 0.3);
}*/

.icon {
  width: 32px;
}

/*.fancybox-wrap { 
  overflow-x: hidden;
}*/

/*.media {
  top: 60px;
}*/
