.result-info {
  margin-top: 10px;
  color: gray;
  font-size: 0.9em;
}

.document-result {
  margin-top: 20px;
  margin-bottom: 20px;
}

.document-highlight {
  /*border: 1px solid black;*/
  margin: 5px;
  font-size: 0.9em;
}

.document-highlight em,
#textContent em {
  /*background-color: yellow;*/
  /*color: black;*/
  font-style: normal;
  font-weight: bold;
}

.textSelection {
  background-color: rgba(255, 127, 0, 0.3);
}

.icon {
  width: 32px;
}

/*.fancybox-wrap { 
  overflow-x: hidden;
}*/

/*.media {
  top: 60px;
}*/
