.input-group-btn:last-child > .btn {
  margin-left: -4px; /* fixes input grp visual on iPad */
}

.hit {
  z-index: 1 !important;
}

#search-query-wrapper {
  /*display: inline-block; */
  border: 1px solid #357ebd; 
  padding: 6px; 
  width: 100%;
  position: relative;
}

#search-query-wrapper:before {
  content: "\200B";
}

/*#search-query {
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
}

#search-query:focus {
    outline-width: 0;
}*/

#search-query {
  width: 100%;
  padding: 6px;
  border: 1px solid #357ebd; 
}

#search-tag-wrapper {
  /*position: absolute;*/
  z-index: 10;
}

.search-tag {
  border-radius: 4px;
  border: 1px solid #357ebd;
  background-color: #428bca;
  color: white;
  padding: 4px;
  /*float: left;*/
  z-index: 10;
  margin-right: 3px;
  /*word-spacing: 11px;*/
}

.result-info {
  margin-top: 10px;
  color: gray;
  font-size: 0.9em;
}

.document-result {
  margin-top: 20px;
  margin-bottom: 20px;
}

.document-highlight {
  /*border: 1px solid black;*/
  margin: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.document-highlight em,
#content em {
  /*background-color: yellow;*/
  /*color: black;*/
  font-style: normal;
  font-weight: bold;
}

.paginationLink {
  display: inline-block;
  color: #357ebd;
  border: 1px solid #357ebd;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  margin: 3px;
  box-sizing: border-box;
}

.paginationLink:hover {
  text-decoration: none;
  background-color: #428bca;
  color: white;
}

.paginationLink.active,
.paginationLink.active:hover {
  /*font-weight: bold;*/
  border-color: black;
  /*border-width: 2px;*/
  /*height: 36px;*/
  color: black;
  background-color: inherit;
}

/*.textSelection {
  background-color: rgba(255, 127, 0, 0.3);
}*/

.icon {
  font-size: 1.55em;
  margin: 5px;
}

.icon-large {
  font-size: 2em;
  margin: 5px;
}

/*.fancybox-overlay {
  background: transparent;
  pointer-events: none;
}

.fancybox-overlay * {
  pointer-events: auto;
}*/

/*.fancybox-wrap { 
  overflow-x: hidden;
}*/

/*.media {
  top: 60px;
}*/