#orbit {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: transparent;
  border: 1px solid gray;

  margin: 0 auto;
}

.orbit-client-unknown {
  width: 200px;
  height: 150px;
}

.orbit-client-iPhone {
  width: 75px;
  height: 50px;
}

.orbit-client-iPad {
  width: 200px;
  height: 150px;
}

/*.orbit-client > div.orbit-client-background {
  position: absolute;
  left: 0;
  top: 0;

  width: 200px;
  height: 150px;
  background-image: url("../../images/device.png");
  background-size: 100%;
  background-repeat: no-repeat;
}*/

.orbit-client > img.orbit-client-background {
  position: absolute;
  /*width: 200px;
  height: 150px;*/
}

.orbit-client > div > button {
  position: absolute;
}

.ui-rotatable-handle {
  position: absolute;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-image: url("../images/rotate.png");
  background-size: 100%;
  left: 2px;
  top: 2px;
}
