<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tools.FlockingDevice.Tracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Tools.FlockingDevice.Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="External"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <Tools.FlockingDevice.Tracking.Properties.Settings>
      <setting name="SensorHeight" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="SensorWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="DepthConfidenceThreshold" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DepthSmoothing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxReproducedDepth" serializeAs="String">
        <value>617</value>
      </setting>
      <setting name="MinReproducedDepth" serializeAs="String">
        <value>457</value>
      </setting>
      <setting name="SingleTabletSize" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="NumErode" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="NumDilate" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ApproxPolyAccuracy" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="FlipHorizontal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlipVertical" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ROI" serializeAs="String">
        <value>20, 20, 280, 200</value>
      </setting>
      <setting name="IsOutputOnInputImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsBoundingBoxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Tools.FlockingDevice.Tracking.Properties.Settings>
    <Tools.FlockingDevice.Tracker.Properties.Settings>
      <setting name="SensorHeight" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="SensorWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="DepthConfidenceThreshold" serializeAs="String">
        <value>54</value>
      </setting>
      <setting name="DepthSmoothing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxReproducedDepth" serializeAs="String">
        <value>860</value>
      </setting>
      <setting name="MinReproducedDepth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SingleTabletSize" serializeAs="String">
        <value>4085</value>
      </setting>
      <setting name="NumErode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NumDilate" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ApproxPolyAccuracy" serializeAs="String">
        <value>0.05</value>
      </setting>
    </Tools.FlockingDevice.Tracker.Properties.Settings>
  </applicationSettings>
</configuration>
