body {
  padding: 10px; /* same as #deviceIndicatorWrapper border-width */
}

@media (min-device-width : 768px) {
  .container {
    width: 730px;
  }
}

#deviceIndicatorWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 5px solid transparent;*/
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  /*background-color: rgba(255,0,0, 0.05);
  border: 1px solid rgba(255,0,0,0.5);*/
  box-sizing: border-box;
  z-index: 9500;
  pointer-events: none;
}

.deviceIndicator {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  /*width: 60px;*/
  /*height: 60px;*/
  opacity: 0.65; 
  /*z-index: 9999;*/
  pointer-events: auto;
  -webkit-transition: -webkit-transform 0.3s;
}

#deviceIndicatorSendText {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  color: white;
  background-color: rgba(0,0,0,0.85);
  border-radius: 12px;
  padding: 10px;
  max-width: 150px;
  text-align: center;
}